# App
NODE_ENV=dev
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cohdex?schema=public"
ORIGIN=http://localhost:3000/

# Auth
SESSION_SECRET=cohdex-secret
REDIRECT_URI=http://localhost:3000/
API_KEY_STEAM=

